@model Shelter.Shared.Animal
@{
      ViewData["Title"] = Model.Name;
}
<table>
  <tr>
    <td style="font-weight: bold">Name</td>
    <td>@Model.Name</td>
  </tr>
  <tr>
    <td style="font-weight: bold">Birthdate</td>
    <td>@Model.DateOfBirth</td>
  </tr>
  <tr>
    <td style="font-weight: bold">Checked?</td>
    <td>@Model.IsChecked</td>
  </tr>
    <tr>
        <td style="font-weight: bold">Kid Friendly?</td>
        <td>@Model.KidFriendly</td>
    </tr>
    <tr>
        <td style="font-weight: bold">Since</td>
        <td>@Model.Since</td>
    </tr>
    <tr>
        <td style="font-weight: bold">Race</td>
        <td>@Model.Race</td>
    </tr>
</table>